<header
  class="w-full fixed top-0 left-0 right-0 z-50 bg-black/70 backdrop-blur-xl border-b border-white/10 py-4"
>
  <section class="max-w-7xl mx-auto px-4 flex items-center justify-between">
    <div class="flex items-center gap-2">
      <!-- logo -->
      <div class="w-16 h-16 rounded-full bg-amber-500"></div>
      <!-- Nombre -->
      <h1>INMOBILARIA</h1>
    </div>
    <a href="#" class="px-4 py-2 rounded-full bg-amber-500">Iniciar Sesión</a>
  </section>
</header>
